.link {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 250ms ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.button {
    all: unset;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 250ms ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}